.contributor-edit-row {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1em;
}

.contributor-edit-row .contributor-buttons {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1em);
    grid-gap: 0.5em;
    cursor: pointer;
    width: 1em;
}

.contributor-edit-row:first-child .move-up {
    display: none;
}

.contributor-edit-row:last-child .move-down {
    display: none;
}

.contributor-edit-fields {
    display: flex;
    flex-wrap: wrap;
}

.contributor-field {
    flex-basis: 50%;
    display: grid;
    padding-right: 1em;
    margin-bottom: 1em;
    align-items: flex-start;
    align-content: baseline;
}

.contributor-field-hidden {
    display: none;
}

.skip-input {
    display: none;
}

#contributor-new-edit-row {
    display: none;
}

.delete-contrib {
    color: darkred;
}

.to-delete {
    position: relative;
}

.to-delete:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: #FFFFFF;
}

.screenreader {
    display: none;
}

.contributor-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: relative;
    margin-bottom: 10px;
    align-items: end;
}

.contributor-search .grid-span {
    grid-column-end: span 2;
}

.contributor-search .grid-cell {
    display: grid;
}

@media (min-width: 1200px) {
    .contributor-search {
        grid-template-columns: 1fr 1fr 1fr min-content;
    }

    .contributor-search .grid-span {
        grid-column-end: span 4;
    }
}

.contributor-search > label {
    margin-bottom: 0;
}

.contributor-search .btn {
    top: unset;
    justify-self: end;
}

.contributor-search-buttons {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 10px;
}

.contributor-search-buttons .btn {
    top: unset;
    justify-self: end;
}

.hideme {
    display: none !important;
}

#contributor-search-loading {
    position: absolute;
    top: 0;
    right: 0.5em;
}